.sobre-mi .contenido-sobre-mi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}.sobre-mi .contenido-sobre-mi > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.sobre-mi .contenido-sobre-mi > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.sobre-mi .contenido-sobre-mi > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.sobre-mi .contenido-sobre-mi > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}.sobre-mi .contenido-sobre-mi > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.sobre-mi .contenido-sobre-mi > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.sobre-mi .contenido-sobre-mi__titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.sobre-mi .contenido-sobre-mi__texto {
  padding-right: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.sobre-mi .contenido-sobre-mi__foto {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.sobre-mi .contenido-sobre-mi__boton {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}